<div *ngFor="let student of studentList" style="border: 2px solid green;">
<p><b>Student Id:</b>{{student.studentId}}</p>
<p><b>Student Name:</b>{{student.studentName}}</p>
<p><b>Student Gpa:</b>{{student.studentGpa}}</p>
</div>

<h4>Add Student</h4>
<form [formGroup]="studentForm">
    <b>Student Id:</b><input formControlName="studentId" type="number">
    <b>Student Name:</b><input formControlName="studentName"  type="text">
    <b>Student Gpa:</b><input formControlName="studentGpa"  type="number">
<button [disabled]="studentForm.status=='INVALID'" (click)="addStudent()">Submit</button>
</form>